<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{view.error.general.title}">Error page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" href="../../../css/foundation.css" th:href="@{/css/foundation.css}"/>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1 th:text="#{view.error.general.title}">Error page</h1>

        <p th:text="${errorMessage}">The error message</p>
      </div>
    </div>
  </body>
</html>
