<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Not found</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>
  </head>

  <body>
    <nav class="top-bar" data-topbar="topbar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="../home.html" th:href="@{/}">QWait</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="../home.html" th:href="@{/}">Home</a></li>
          <li><a href="../queue/list.html" th:href="@{/queue/list}">Queues</a></li>
        </ul>
        <ul class="right">
          <li><a href="#">Logged in as <strong th:text="${#authentication.name}">someone</strong></a></li>
          <li><a onclick="logoutform.submit();">Log Out</a></li>
          <form id="logoutform" method="POST" th:action="@{/log-me-out}"></form>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <h1>That's not how you queue.</h1>
        <p>You must have gotten lost, because you somehow managed to find something that doesn't exist.</p>
        <a href="../home.html" th:href="@{/}">Go back home</a>
      </div>
    </div>

    <script src="../../../js-vendor/jquery.js" th:src="@{/js-vendor/jquery.js}"></script>
    <script src="../../../js-vendor/foundation.js" th:src="@{/js-vendor/foundation.js}"></script>
    <script src="../../../js-vendor/foundation.topbar.js" th:src="@{/js-vendor/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
