<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Not found | QWait</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../../foundation-icons/foundation-icons.css" th:href="@{/foundation-icons/foundation-icons.css}"/>
  </head>

  <body>
    <div th:replace="fragment/layout :: topbar"></div>
    <div class="row">
      <div class="large-12 columns">
        <h1>That's not how you queue.</h1>
        <p>You must have gotten lost, because you somehow managed to find something that doesn't exist.</p>
        <a th:href="@{/queue}">Go back home</a>
      </div>
    </div>

    <script src="../../../vendor/js/jquery.js" th:src="@{/vendor/js/jquery.js}"></script>
    <script src="../../../vendor/js/foundation.js" th:src="@{/vendor/js/foundation.js}"></script>
    <script src="../../../vendor/js/foundation.topbar.js" th:src="@{/vendor/js/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
