<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">>
  <body>
    <li th:fragment="menuentry (title, url)"
        th:class="${#ctx.httpServletRequest.requestURI} == ${url} ? 'active' : ''">
      <a th:href="${url}"
         th:text="${title}">
      </a>
    </li>
    <nav th:fragment="topbar" class="top-bar" data-topbar="topbar"
         th:with="url = ${#ctx.httpServletRequest.requestURI}">
      <ul class="title-area">
        <li class="name">
          <h1><a th:href="@{/}">QWait</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <div th:replace="fragment/layout::menuentry ('Home', @{/})"></div>
          <div th:replace="fragment/layout::menuentry ('Queues', @{/queue/list})"></div>
          <div th:replace="fragment/layout::menuentry ('Help', @{/help})"></div>
        </ul>
        <ul class="right">
          <li><a>Logged in as <strong th:text="${#authentication.name}">someone</strong></a></li>
          <li><a th:href="@{/logout}">Log Out</a></li>
        </ul>
      </section>
    </nav>
  </body>
</html>
