<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">>
  <body>
    <li th:fragment="menuentry (title, url)"
        th:class="${#ctx.httpServletRequest.requestURI} == ${url} ? 'active' : ''">
      <a th:href="${url}"
         th:text="${title}">
      </a>
    </li>
    <nav th:fragment="topbar" class="top-bar" data-topbar="topbar"
         th:with="url = ${#ctx.httpServletRequest.requestURI}">

      <!--This logo is absolute, and shown on the main view-->      
      <ul class="title-area top-absolute show-for-large-up">
        <li class="name">
          <a th:href="@{/queue}">
            <img class="top-logo" th:src="@{/images/qwait-topbar-logo.png}" src="../../../icons/qwait-topbar-logo.png"></img>
          </a>
        </li>
      </ul>

      <!-- When the size reaches medium the top bar collapses, and this logo is shown instead-->
      <ul class="title-area hide-for-large-up">
        <li class="name">
          <a th:href="@{/queue}">
            <img class="top-logo logo-small" th:src="@{/images/qwait-topbar-logo.png}" src="../../../icons/qwait-topbar-logo.png"></img>
          </a>
        </li>
        <li class="toggle-topbar">
          <a href="#">
            <b class="size-18">Menu</b>
            <i class="fi-list size-24 menu-icon-padding middle"></i>
          </a>
        </li>
      </ul>
      
      <section class="top-bar-section">
        <ul class="left">
          <div th:replace="fragment/layout::menuentry ('Queues', @{/queue})"></div>
          <div th:replace="fragment/layout::menuentry ('About', @{/about})"></div>
          <div th:replace="fragment/layout::menuentry ('Help', @{/help})"></div>
          <div th:replace="fragment/layout::menuentry ('Debug', @{/debug})"></div>
        </ul>
        <ul sec:authorize="hasRole('admin')" class="left">
          <div th:replace="fragment/layout::menuentry ('Admin', @{/admin})"></div>
        </ul>
        <ul sec:authorize="!hasRole('ROLE_ANONYMOUS')" class="right">
          <li><a href="#">Logged in as <strong th:text="${#authentication.name}">someone</strong></a></li>
          <li><a th:href="@{/logout}">Log Out</a></li>
        </ul>
        <ul sec:authorize="hasRole('ROLE_ANONYMOUS')" class="right">
          <li><a th:href="@{/login}">Log In</a></li>
        </ul>
      </section>
    </nav>
  </body>
</html>
