<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title>Queues &mdash; QWait</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
    <script src="../../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /* <![CDATA[ */
      qwait.controller('QueueListCtrl', ['$scope', '$sce', function ($scope, $sce) {
        var queueBaseUrl = /*[[@{/queue/}]]*/ '';

        /*[- */
        $scope.queues = [
          {name: "Queue 1", id: 1, positions: []},
          {name: "Queue 2", id: 2, positions: []}
        ];
        /* -]*/
        /*[+
         $scope.queues = JSON.parse([[${queuesJson}]]);
         +]*/

        for (var i = 0; i < $scope.queues.length; i++) {
          var q = $scope.queues[i];
          q.removeUrl = queueBaseUrl + $scope.queues[i].id + '/remove';
        }
      }]);
      /* ]]> */
    </script>
  </head>

  <body>
    <nav class="top-bar" data-topbar="topbar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="../home.html" th:href="@{/}">QWait</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="../home.html" th:href="@{/}">Home</a></li>
          <li class="active"><a href="list.html" th:href="@{/queue/list}">Queues</a></li>
        </ul>
        <ul class="right">
          <li><a href="#">Logged in as <strong th:text="${#authentication.name}">someone</strong></a></li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns" ng-controller="QueueListCtrl">
        <h1>Queues</h1>

        <div sec:authorize="hasRole('super_admin')">
          <form action="show.html" method="GET" th:action="@{/queue/create}" th:method="'POST'">
            <div class="row">
              <div class="small-3 columns">
                <label for="queue-name" class="right inline">Add queue called</label>
              </div>
              <div class="small-8 columns">
                <input id="queue-name" name="name" type="text" placeholder="queue name"/>
              </div>
              <div class="small-1 columns">
                <button type="submit" class="button postfix">Add</button>
              </div>
            </div>
          </form>
        </div>

        <div ng-hide="queues.length">
          <p>There are currently no queues.</p>
        </div>
        <table ng-show="queues.length">
          <thead>
            <tr>
              <th>Name</th>
              <th>People queueing</th>
              <th>&nbsp;</th>
              <div sec:authorize="hasRole('super_admin')">
                <th>&nbsp;</th>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="queue in queues">
              <td>{{queue.name}}</td>
              <td>{{queue.positions.length}}</td>
              <td><a href="show.html" th:href="@{/queue/{{queue.id}}}">Show</a></td>
              <div sec:authorize="hasRole('super_admin')">
                <td><form action="list.html" method="GET" th:action="{{queue.removeUrl}}" th:method="'POST'">
                  <a href="#" onclick="parentNode.submit()">Remove</a>
                </form></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="../../../js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../../../js/foundation.js" th:src="@{/js/foundation.js}"></script>
    <script src="../../../js/foundation.topbar.js" th:src="@{/js/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
