<!DOCTYPE html>
<html ng-app="qwait" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div ng-controller="TitleCtrl">
      <title>{{page.title.length > 0 ? page.title + ' | ' : ''}}QWait</title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../../foundation-icons/foundation-icons.css" th:href="@{/foundation-icons/foundation-icons.css}"/>

    <script src="../../vendor/js/angular.js" th:src="@{/vendor/js/angular.js}"></script>
    <script src="../../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /* <![CDATA[ */
      angular.module('qwait').controller('QueueCtrl', ['$scope', '$sce', 'page', 'getQueuePos', 'getQueuePosNr',
          function ($scope, $sce, page, getQueuePos, getQueuePosNr) {
        var queueBaseUrl = /*[[@{/queue/}]]*/ '';

        // Users not logged in won't have a username
        $scope.principalName = /*[[${#authentication.principal != 'anonymousUser'
          ? #authentication.principal.username : 'anonymousUser'}]]*/ 'johndoe';

        var adminView = /*[[${#authorization.expression("hasRole('admin')")}]]*/ true;

        // Passing this as a string since it can become quite large
        var queueStr = /*[[${queueJson}]]*/ '{"name": "Queue 1", "id": 1, "positions": []}';
        $scope.queue = JSON.parse(queueStr);

        $scope.hostName = /*[[${hostName}]]*/ '';

        // Inject queue position of current user
        $scope.queuePos = getQueuePos($scope.principalName, $scope.queue.positions);

        // Declare queuePosNr
        $scope.queuePosNr = 0;

        $scope.$watch('queue.positions', function() {
            $scope.queuePosNr = getQueuePosNr($scope.principalName, $scope.queue.positions);
            page.title = ($scope.queuePosNr > 0 ? '[' + $scope.queuePosNr + '] ' : '') + $scope.queue.name;
        });

        // This URL construction happens here to prevent some CORS attacks
        $scope.queue.createPositionUrl = queueBaseUrl + $scope.queue.id + '/position/create';

        $scope.queue.addOwnerUrl = queueBaseUrl + $scope.queue.id + '/add-owner';
        $scope.queue.removeOwnerUrl = queueBaseUrl + $scope.queue.id + '/remove-owner';

        $scope.queue.addModeratorUrl = queueBaseUrl + $scope.queue.id + '/add-moderator';
        $scope.queue.removeModeratorUrl = queueBaseUrl + $scope.queue.id + '/remove-moderator';

        var q = $scope.queue;
        q.lockUrl = queueBaseUrl + $scope.queue.id + '/lock';
        q.unlockUrl = queueBaseUrl + $scope.queue.id + '/unlock';
        q.openUrl = queueBaseUrl + $scope.queue.id + '/open';
        q.closeUrl = queueBaseUrl + $scope.queue.id + '/close';
        q.removeUrl = queueBaseUrl + $scope.queue.id + '/remove';
        q.clearUrl = queueBaseUrl + $scope.queue.id + '/clear';

        for (var i = 0; i < $scope.queue.positions.length; i++) {
          var position = $scope.queue.positions[i];
          if (adminView) {
            position.removeUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/remove';
          }
          if (position.account.principalName === $scope.principalName) {
            $scope.queue.removeOwnUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/remove';
          }
          position.locationUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/location';
          position.commentUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/comment';
        }

        $scope.date = moment(); // Inject timestamp to retrieve with Angular
      }]);
      /* ]]> */
    </script>
  </head>

  <body>
    <div th:replace="fragment/layout :: topbar"></div>
    <div class="row">
      <div class="large-12 columns" ng-controller="QueueCtrl">
        <h1 class="text-center" style="color: {{(queue.locked || !queue.active) ? 'red' : ''}}">{{queue.name}}</h1>
        <h4 class="text-center" th:attr="ng-if='queuePosNr > 0'">Your position is: {{queuePosNr}}</h4>
        <div ng-hide="queue.positions.length">
          <div class="text-center">There is currently no-one queueing.</div>
        </div>
        <div class="row">

          <!--This content is only shown for guests -->
          <div th:if="${account == null}" class="large-3 columns">
            <div class="alert-margin show-for-large-up"></div>
            <div class="search-margin hide-for-large-up"></div>
            <div class="grey-background button-bot-margin">
              <div class="fi-alert white size-48 text-center small-top-padding"></div>
              
              <!--Non-breaking space because we want two separate sentences in large-up, and one whole in medium-down -->
              <p class="text-center white small-top-margin">In order to queue, you&nbsp;need&nbsp;to&nbsp;log&nbsp;in.</p>
              <a th:href="@{/login}">
                <div class="row collapse">
                  <div class="small-12 small-centered columns login-spacing">
                    <button class="button postfix no-bot-margin">
                      Log In
                    </button>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!--This content is only shown for logged in users -->
          <div th:if="${account != null}" class="large-3 columns">

            <!-- If the queue is locked -->
            <div th:attr="ng-hide='!queue.locked || !queue.active'">
              <div class="alert-margin show-for-large-up"></div>
              <div class="search-margin hide-for-large-up"></div>
              <div class="grey-background button-bot-margin">
                <div class="fi-lock red-icon size-48 text-center small-top-padding"></div>
                <p class="text-center white small-top-margin bot-padding">This queue is locked, so&nbsp;it&nbsp;can't&nbsp;be&nbsp;entered.</p>
              </div>
            </div>

            <!-- If the queue is closed -->
            <div th:attr="ng-hide='queue.active || queue.locked'">
              <div class="alert-margin show-for-large-up"></div>
              <div class="search-margin hide-for-large-up"></div>
              <div class="grey-background button-bot-margin">
                <div class="fi-eye red-icon size-48 text-center small-top-padding"></div>
                <p class="text-center white small-top-margin bot-padding">This queue is closed, so&nbsp;it&nbsp;can't&nbsp;be&nbsp;entered.</p>
              </div>
            </div>

            <!-- Only the queue is both locked and closed-->
            <div th:attr="ng-hide='queue.active || !queue.locked'">
              <div class="alert-margin show-for-large-up"></div>
              <div class="search-margin hide-for-large-up"></div>
              <div class="grey-background button-bot-margin">
                <div class="text-center small-top-padding">
                  <i class="fi-lock red-icon size-48 icon-margin"></i>
                  <i class="fi-eye red-icon size-48"></i>
                </div>
                <p class="text-center white small-top-margin bot-padding">This queue is both locked&nbsp;and&nbsp;closed.</p>
              </div>
            </div>
            
            <!-- We hide the queue form if the queue is locked or closed -->
            <div th:attr="ng-if='queuePos != null', ng-hide='queue.locked || !queue.active'">
              <div class="search-margin show-for-large-up"></div>
              <form th:action="'{{queuePos.locationUrl}}'" th:method="POST">
                <label>
                  Location
                  <div class="row collapse">
                    <div class="small-9 columns">
                      <input id="queue-location" value="{{queuePos.location || (hostName | getComputerName)}}" name="location" type="text" maxlength="30" placeholder="eg. Red 5"/>
                    </div>
                    <div class="small-3 columns">
                      <button type="submit" class="button postfix">Save</button>
                    </div>
                  </div>
                </label>
              </form>
              <form th:action="'{{queuePos.commentUrl}}'" th:method="POST">
                <label>
                  Comment
                  <div class="row collapse">
                    <div class="small-9 columns">
                      <input id="queue-comment" value="{{queuePos.comment}}" name="comment" type="text" maxlength="30" placeholder="eg. Lab 3"/>
                    </div>
                    <div class="small-3 columns">
                      <button type="submit" class="button postfix">Save</button>
                    </div>
                  </div>
                </label>
              </form>
            </div>

            <form sec:authorize="!hasRole('ROLE_ANONYMOUS')" th:attr="ng-hide='!queue.active || queue.locked || queuePos != null'" th:action="'{{queue.createPositionUrl}}'" th:method="POST">
              <div class="alert-margin show-for-large-up"></div>
              <div class="search-margin hide-for-large-up"></div>
              <button class="button expand button-bot-margin" type="submit">
                <i class="fi-plus size-18 white-icon middle icon-margin"></i>
                <span class="middle">Queue me</span>
              </button>
            </form>

            <form sec:authorize="!hasRole('ROLE_ANONYMOUS')" th:attr="ng-hide='queuePos == null'" th:action="'{{queue.removeOwnUrl}}'" th:method="POST">
              <button class="button expand button-bot-margin" type="submit">
              <i class="fi-x size-18 red-icon middle icon-margin"></i>
              <span class="middle">Leave queue</span>
              </button>
            </form>

            <a th:if="${account != null ? account.canModerateQueue(queue) : false}" data-dropdown="edit-queue-drop" class="button dropdown expand" href="#">Edit queue</a>
            <ul id="edit-queue-drop" class="f-dropdown content medium" data-dropdown-content="">

              <form th:attr="ng-show='queue.locked'" th:action="'{{queue.unlockUrl}}'" th:method="POST">
                <button type="submit" class="button tiny expand">
                <i class="fi-unlock size-18 green-icon middle icon-margin"></i>
                Unlock queue
                </button>
              </form>

              <form th:attr="ng-hide='queue.locked'" th:action="'{{queue.lockUrl}}'" th:method="POST">
                <button type="submit" class="button tiny expand">
                  <i class="fi-lock size-18 red-icon middle icon-margin"></i>
                  Lock queue
                </button>
              </form>

              <form th:attr="ng-hide='queue.active'" th:action="'{{queue.openUrl}}'" th:method="POST">
                <button type="submit" class="button tiny expand">
                  <i class="fi-eye size-18 green-icon middle icon-margin"></i>
                  Open queue
                </button>
              </form>

              <form th:action="'{{queue.clearUrl}}'" th:method="POST">
                <button type="submit" class="button tiny expand">
                  Clear queue
                </button>
              </form>

              <a th:attr="ng-show='queue.active'" th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="closeQueueModal">
                <i class="fi-eye size-18 red-icon middle icon-margin"></i>
                Close Queue
              </a>
              <div th:attr="ng-show='queue.active'" class="reveal-modal medium" id="closeQueueModal" data-reveal="">
                <h2>Close queue</h2>
                <p>
                  You are about to close the queue:  {{queue.name}}.<br/>
                  This will cause all queuers to be thrown out and the queue will be made invisible.<br/>
                  Are you sure you want to do this?
                </p>

                <form th:action="'{{queue.closeUrl}}'" th:method="POST">
                  <button type="submit" class="button tiny expand">
                    <i class="fi-eye size-18 red-icon middle icon-margin"></i>
                    Close queue
                  </button>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand alert" href="#" data-reveal-id="deleteQueueModal">
                Delete queue
              </a>
              <div class="reveal-modal medium" id="deleteQueueModal" data-reveal="">
                <h2>Delete queue</h2>
                <p>
                  You are about to permanently delete the queue:  {{queue.name}}.<br/>
                  This will cause all queuers to be thrown out.<br/>
                  Are you sure you want to do this?
                </p>


                <form th:action="'{{queue.removeUrl}}'" th:method="POST">
                  <button type="submit" class="button tiny expand alert">
                    Delete queue
                  </button>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>
            </ul>

            <a th:if="${account != null ? account.canEditQueue(queue) : false}" data-dropdown="edit-owners-drop" class="button dropdown expand" href="#">Edit owners</a>
            <ul id="edit-owners-drop" class="f-dropdown content medium" data-dropdown-content="">
              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="addQueueOwnerModal">
                <i class="fi-plus size-18 white-icon middle icon-margin"></i>
                Add owner
              </a>
              <div class="reveal-modal medium" id="addQueueOwnerModal" data-reveal="">
                <h2>Add queue owner</h2>
                <p>
                  You are about to add a new owner to the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to add.
                </p>

                <form th:action="'{{queue.addOwnerUrl}}'" th:method="POST">
                  <label>
                    Add owner
                    <input id="add-queue-owner" name="name" type="text" placeholder="Username to add"/>
                    <button type="submit" class="button postfix">Add</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="removeQueueOwnerModal">
              <i class="fi-x size-18 red-icon middle icon-margin"></i>
                Remove owner
              </a>
              <div class="reveal-modal medium" id="removeQueueOwnerModal" data-reveal="">
                <h2>Remove queue owner</h2>
                <p>
                  You are about to remove an owner from the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to remove.
                </p>

                <form th:action="'{{queue.removeOwnerUrl}}'" th:method="POST">
                  <label>
                    Remove owner
                    <input id="remove-queue-owner" name="name" type="text" placeholder="Username to remove"/>
                    <button type="submit" class="button postfix">Remove</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="seeQueueOwnersModal">Show owners</a>
              <div class="reveal-modal" id="seeQueueOwnersModal" data-reveal="">
                <h2>Queue owners of {{queue.name}}</h2>
                <ul>
                  <p ng-hide="queue.owners.length">No queue owners.</p>
                  <li ng-repeat="owner in queue.owners">
                    {{owner.principalName}}
                  </li>
                </ul>
                <a class="close-reveal-modal">×</a>
              </div>
            </ul>

            <a th:if="${account != null ? account.canEditQueue(queue) : false}" data-dropdown="edit-moderators-drop" class="button dropdown expand" href="#">Edit assistants</a>
            <ul id="edit-moderators-drop" class="f-dropdown content medium" data-dropdown-content="">
              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="addQueueModeratorModal">
                <i class="fi-plus size-18 white-icon middle icon-margin"></i>
                Add assistant
              </a>
              <div class="reveal-modal medium" id="addQueueModeratorModal" data-reveal="">
                <h2>Add queue assistant</h2>
                <p>
                  You are about to add a new assistant to the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to add.
                </p>

                <form th:action="'{{queue.addModeratorUrl}}'" th:method="POST">
                  <label>
                    Add assistant
                     <input id="add-queue-moderator" name="name" type="text" placeholder="Username to add"/>
                     <button type="submit" class="button postfix">Add</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="removeQueueModeratorModal">
                <i class="fi-x size-18 red-icon middle icon-margin"></i>
                Remove assistant
              </a>
              <div class="reveal-modal medium" id="removeQueueModeratorModal" data-reveal="">
                <h2>Remove queue assistant</h2>
                <p>
                  You are about to remove an assistant from the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to remove.
                </p>

                <form th:action="'{{queue.removeModeratorUrl}}'" th:method="POST">
                  <label>
                    Remove assistant
                    <input id="remove-queue-moderator" name="name" type="text" placeholder="Username to remove"/>
                    <button type="submit" class="button postfix">Remove</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="seeQueueModeratorsModal">Show assistants</a>
              <div class="reveal-modal" id="seeQueueModeratorsModal" data-reveal="">
                <h2>Queue assistants of {{queue.name}}</h2>
                  <ul>
                    <p ng-hide="queue.moderators.length">No queue assistants.</p>
                      <li ng-repeat="moderator in queue.moderators">
                        {{moderator.principalName}}
                      </li>
                  </ul>
                  <a class="close-reveal-modal">×</a>
              </div>
            </ul>
          </div>

          <div class="large-9 columns">
            <div ng-show="queue.positions.length" class="row collapse">
              <table class="large-12 columns">
                <div class="row collapse">
                  <div class="large-8 columns"></div>
                  <label ng-show="queue.positions.length" class="large-4 columns">
                    <input ng-model="search" class="search" name="search" type="text" placeholder="Find users"/>
                  </label>
                </div>
                <thead>
                  <tr>
                    <th width="1">#</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Comment</th>
                    <th width="1">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="queuePosition in queue.positions | filter:search | orderBy:'id':false" ng-class="{'active':$index+1 == queuePosNr}">
                    <td>
                      <div class="location-indicator admin-location-indicator" th:if="${account != null ? account.canModerateQueue(queue) : false}" style="border-left-color: {{(queuePosition.location || '') | getComputerColor}}"/>
                      <div class="location-indicator user-location-indicator" th:if="${account != null ? !account.canModerateQueue(queue) : true}" style="border-left-color: {{(queuePosition.location || '') | getComputerColor}}"/>
                      {{$index+1}}
                    </td>

                    <td>{{queuePosition.account.name}}</td>

                    <td>{{date - queuePosition.startTime | duration}}</td>

                    <td>{{queuePosition.location || ''}}</td>

                    <td>{{queuePosition.comment || ''}}</td>

                    <td class="table-button-padding">
                      <form th:if="${account != null ? account.canModerateQueue(queue) : false}" th:action="'{{queuePosition.removeUrl}}'" th:method="POST" class="no-bot-margin">
                        <button type="submit" class="button remove-button tinier no-bot-margin">
                          <i class="fi-x size-16 red-icon icon-margin middle"></i>
                          <span class="middle">Remove</span>
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../../vendor/js/jquery.js" th:src="@{/vendor/js/jquery.js}"></script>
    <script src="../../../vendor/js/foundation.js" th:src="@{/vendor/js/foundation.js}"></script>
    <script src="../../../vendor/js/foundation.topbar.js" th:src="@{/vendor/js/foundation.topbar.js}"></script>
    <script src="../../../vendor/js/foundation.dropdown.js" th:src="@{/vendor/js/foundation.dropdown.js}"></script>
    <script src="../../../vendor/js/foundation.reveal.js" th:src="@{/vendor/js/foundation.reveal.js}"></script>
    <script src="../../../vendor/js/foundation.alert.js" th:src="@{/vendor/js/foundation.alert.js}"></script>
    <script src="../../../vendor/js/moment-with-langs.js" th:src="@{/vendor/js/moment-with-langs.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
