<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title>View queue &mdash; QWait</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
    <script src="../../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /* <![CDATA[ */
      qwait.controller('QueueCtrl', ['$scope', '$sce', function ($scope, $sce) {
        var queueBaseUrl = /*[[@{/queue/}]]*/ '';

        // Passing this as a string since it can become quite large
        var queueStr = /*[[${queueJson}]]*/ '{"name": "Queue 1", "id": 1, "positions": []}';
        $scope.queue = JSON.parse(queueStr);

        // This URL construction happens here to prevent some CORS attacks
        $scope.queue.createPositionUrl = queueBaseUrl + $scope.queue.id + '/position/create';

        for (var i = 0; i < $scope.queue.positions.length; i++) {
          var position = $scope.queue.positions[i];
          position.removeUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/remove';
        }
      }]);
      /* ]]> */
    </script>
  </head>

  <body>
    <nav class="top-bar" data-topbar="topbar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="../home.html" th:href="@{/}">QWait</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="../home.html" th:href="@{/}">Home</a></li>
          <li class="active"><a href="list.html" th:href="@{/queue/list}">Queues</a></li>
        </ul>
        <ul class="right">
          <li><a href="#">Logged in as <strong th:text="${#authentication.name}">someone</strong></a></li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns" ng-controller="QueueCtrl">
        <h1>Queue <q>{{queue.name}}</q></h1>

        <p>This queue is owned by {{queue.owner.name || 'nobody'}}</p>

        <form th:action="'{{queue.createPositionUrl}}'" th:method="POST">
          <button type="submit">Queue me</button>
        </form>
        <div ng-hide="queue.positions.length">
          <p>There is currently no-one queueing</p>
        </div>

        <div ng-hide="(queue.positions | filter: 'u1bmx14m'.length"> <!-- TODO: Replace hard coded filter with account name-->
          <p>You are currently not in this queue.</p>
        </div>

        <div ng-show="(queue.positions | filter: 'u1bmx14m').length"> <!-- TODO: Replace hard coded filter with account name-->
          <p ng-repeat="queuePosition in queue.positions | filter:'u1bmx14m'">Your current comment is: {{queuePosition.queueComment}}</p>
        </div>

        <table ng-show="queue.positions.length">
          <thead>
            <tr>
              <th>User name</th>
              <th>Started queueing at</th>
              <th>Time in queue</th>
              <th>Comment</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="queuePosition in queue.positions | orderBy:'id':false">
              <td>{{queuePosition.account.name}}</td>
              <td>{{queuePosition.startTime|timestamp|date:'medium'}}</td>
              <td>{{queuePosition.startTime|queuetime}}</td>
              <td>{{queuePosition.queueComment}}</td>
              <td>
                <form th:action="'{{queuePosition.removeUrl}}'" th:method="POST" style="margin-bottom: 0">
                  <button type="submit" class="button tiny" style="margin-bottom: 0">Remove</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="../../../js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../../../js/foundation.js" th:src="@{/js/foundation.js}"></script>
    <script src="../../../js/foundation.topbar.js" th:src="@{/js/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
