<!DOCTYPE html>
<html ng-app="qwait" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div ng-controller="titleCtrl">
      <title ng-bind="Page.title() + ' &mdash; QWait'">QWait</title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>

    <script src="../../js-vendor/angular.js" th:src="@{/js-vendor/angular.js}"></script>
    <script src="../../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /* <![CDATA[ */
      qwait.controller('QueueCtrl', ['$scope', '$sce', 'Page', 'getQueuePosFunc',
          function ($scope, $sce, Page, getQueuePosFunc) {
        var queueBaseUrl = /*[[@{/queue/}]]*/ '';

        // Users not logged in won't have a username
        $scope.principalName = /*[[${#authentication.principal != 'anonymousUser'
          ? #authentication.principal.username : 'anonymousUser'}]]*/ 'johndoe';

        var adminView = /*[[${#authorization.expression("hasRole('admin')")}]]*/ true;

        // Passing this as a string since it can become quite large
        var queueStr = /*[[${queueJson}]]*/ '{"name": "Queue 1", "id": 1, "positions": []}';
        $scope.queue = JSON.parse(queueStr);

        $scope.hostName = /*[[${hostName}]]*/ '';

        var numPos = $scope.queue.positions.length;
        if (numPos > 0) {
          Page.setTitle('[' + numPos + '] ' + $scope.queue.name);
        } else {
          Page.setTitle($scope.queue.name);
        }

        // This URL construction happens here to prevent some CORS attacks
        $scope.queue.createPositionUrl = queueBaseUrl + $scope.queue.id + '/position/create';

        $scope.queue.addOwnerUrl = queueBaseUrl + $scope.queue.id + '/add-owner';
        $scope.queue.removeOwnerUrl = queueBaseUrl + $scope.queue.id + '/remove-owner';

        $scope.queue.addModeratorUrl = queueBaseUrl + $scope.queue.id + '/add-moderator';
        $scope.queue.removeModeratorUrl = queueBaseUrl + $scope.queue.id + '/remove-moderator';

        // Inject queue position of current user
        $scope.queuePos = getQueuePosFunc.getQueuePos($scope.principalName, $scope.queue.positions);

 var q = $scope.queue;
        q.lockUrl = queueBaseUrl + $scope.queue.id + '/lock';
        q.unlockUrl = queueBaseUrl + $scope.queue.id + '/unlock';
        q.openUrl = queueBaseUrl + $scope.queue.id + '/open';
        q.closeUrl = queueBaseUrl + $scope.queue.id + '/close';
        q.removeUrl = queueBaseUrl + $scope.queue.id + '/remove';

        for (var i = 0; i < $scope.queue.positions.length; i++) {
          var position = $scope.queue.positions[i];
          if (adminView) {
            position.removeUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/remove';
          }
          if (position.account.principalName === $scope.principalName) {
            $scope.queue.removeOwnUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/remove';
          }
          position.locationUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/location';
          position.commentUrl = queueBaseUrl + $scope.queue.id + '/position/' + position.id + '/comment';
        }
      }]);
      /* ]]> */
    </script>
  </head>

  <body>
    <div th:replace="fragment/layout :: topbar"></div>
    <div th:if="${account == null}" data-alert="" class="alert-box right">
      In order to queue, you need to log in.
      <a href="#" class="close">&times;</a>
    </div>
    <div class="row">
      <div class="large-12 columns" ng-controller="QueueCtrl">
        <h1 class="text-center">{{queue.name}}</h1>
        <div ng-hide="queue.positions.length">
          <p class="text-center">There is currently no-one queueing</p>
        </div>
        <div class="row">
          <div class="large-3 columns">
          <div class="comment-margin show-for-large-up"></div>
            <div th:attr="ng-if='queuePos != null'">
              <form th:action="'{{queuePos.locationUrl}}'" th:method="POST">
                <label>
                  Location
                  <div class="row collapse">
                    <div class="small-9 columns">
                      <input id="queue-location" value="{{queuePos.location || (hostName | getComputerName)}}" name="location" type="text" maxlength="30" placeholder="eg. Red 5"/>
                    </div>
                    <div class="small-3 columns">
                      <button type="submit" class="button postfix">Save</button>
                    </div>
                  </div>
                </label>
              </form>
              <form th:action="'{{queuePos.commentUrl}}'" th:method="POST">
                <label>
                  Comment
                  <div class="row collapse">
                    <div class="small-9 columns">
                      <input id="queue-comment" value="{{queuePos.comment}}" name="comment" type="text" maxlength="30" placeholder="eg. Lab 3"/>
                    </div>
                    <div class="small-3 columns">
                      <button type="submit" class="button postfix">Save</button>
                    </div>
                  </div>
                </label>
              </form>
            </div>
                      
            <form sec:authorize="!hasRole('ROLE_ANONYMOUS')" th:attr="ng-hide='!queue.active || queue.locked || queuePos != null'" th:action="'{{queue.createPositionUrl}}'" th:method="POST">
              <button class="button expand button-bot-margin" type="submit">Queue me</button>
            </form>

            <form sec:authorize="!hasRole('ROLE_ANONYMOUS')" th:attr="ng-hide='!queue.active || queue.locked || queuePos == null'" th:action="'{{queue.removeOwnUrl}}'" th:method="POST">
              <button class="button expand button-bot-margin" type="submit">Leave queue</button>
            </form>

            <a th:if="${account != null ? account.canModerateQueue(queue) : false}" data-dropdown="edit-queue-drop" class="button dropdown expand" href="#">Edit queue</a>
            <ul id="edit-queue-drop" class="f-dropdown content medium" data-dropdown-content="">

              <form th:attr="ng-show='queue.locked'" th:action="'{{queue.unlockUrl}}'" th:method="POST">
                <button type="submit" class="button tiny success expand">Unlock queue</button>
              </form>

              <form th:attr="ng-hide='queue.locked'" th:action="'{{queue.lockUrl}}'" th:method="POST">
                <button type="submit" class="button tiny alert expand">Lock queue</button>
              </form>

              <form th:attr="ng-show='queue.active'" th:action="'{{queue.closeUrl}}'" th:method="POST">
                <button type="submit" class="button tiny alert expand">Close queue</button>
              </form>

              <form th:attr="ng-hide='queue.active'" th:action="'{{queue.openUrl}}'" th:method="POST">
                <button type="submit" class="button tiny success expand">Open queue</button>
              </form>

              <form th:if="${account != null ? account.canEditQueue(queue) : false}" th:action="'{{queue.removeUrl}}'" th:method="POST">
                <button type="submit" class="button tiny alert expand">Remove queue</button>
              </form>
            </ul>

            <a th:if="${account != null ? account.canEditQueue(queue) : false}" data-dropdown="edit-owners-drop" class="button dropdown expand" href="#">Edit owners</a>
            <ul id="edit-owners-drop" class="f-dropdown content medium" data-dropdown-content="">
              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="addQueueOwnerModal">Add owner</a>
              <div class="reveal-modal medium" id="addQueueOwnerModal" data-reveal="">
                <h2>Add queue owner</h2>
                <p>
                  You are about to add a new owner to the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to add.
                </p>

                <form th:action="'{{queue.addOwnerUrl}}'" th:method="POST">
                  <label>
                    Add Queue Owner
                    <input id="add-queue-owner" name="name" type="text" placeholder="Username to add"/>
                    <button type="submit" class="button postfix">Add</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="removeQueueOwnerModal">Remove owner</a>
              <div class="reveal-modal medium" id="removeQueueOwnerModal" data-reveal="">
                <h2>Remove queue owner</h2>
                <p>
                  You are about to remove a owner from the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to remove.
                </p>

                <form th:action="'{{queue.removeOwnerUrl}}'" th:method="POST">
                  <label>
                    Remove Queue Owner
                    <input id="remove-queue-owner" name="name" type="text" placeholder="Username to remove"/>
                    <button type="submit" class="button postfix">Remove</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="seeQueueOwnersModal">See queue owners</a>
              <div class="reveal-modal" id="seeQueueOwnersModal" data-reveal="">
                <h2>Queue owners of {{queue.name}}</h2>
                <ul>
                  <p ng-hide="queue.owners.length">No queue owners.</p>
                  <li ng-repeat="owner in queue.owners">
                    {{owner.principalName}}
                  </li>
                </ul>
                <a class="close-reveal-modal">×</a>
              </div>
            </ul>

            <a th:if="${account != null ? account.canEditQueue(queue) : false}" data-dropdown="edit-moderators-drop" class="button dropdown expand" href="#">Edit moderators</a>
            <ul id="edit-moderators-drop" class="f-dropdown content medium" data-dropdown-content="">
              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="addQueueModeratorModal">Add moderator</a>
              <div class="reveal-modal medium" id="addQueueModeratorModal" data-reveal="">
                <h2>Add queue moderator</h2>
                <p>
                  You are about to add a new moderator to the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to add.
                </p>

                <form th:action="'{{queue.addModeratorUrl}}'" th:method="POST">
                  <label>
                    Add Queue Moderator
                     <input id="add-queue-moderator" name="name" type="text" placeholder="Username to add"/>
                     <button type="submit" class="button postfix">Add</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="removeQueueModeratorModal">Remove moderator</a>
              <div class="reveal-modal medium" id="removeQueueModeratorModal" data-reveal="">
                <h2>Remove queue moderator</h2>
                <p>
                  You are about to remove a moderator from the queue {{queue.name}}.
                  Enter the KTH-id (a total of 8 characters on the form u1xxxxxx) of the person you want to remove.
                </p>

                <form th:action="'{{queue.removeModeratorUrl}}'" th:method="POST">
                  <label>
                    Remove Queue Moderator
                    <input id="remove-queue-moderator" name="name" type="text" placeholder="Username to remove"/>
                    <button type="submit" class="button postfix">Remove</button>
                  </label>
                </form>
                <a class="close-reveal-modal">×</a>
              </div>

              <a th:if="${account != null ? account.canEditQueue(queue) : false}" class="button tiny expand" href="#" data-reveal-id="seeQueueModeratorsModal">See queue moderators</a>
              <div class="reveal-modal" id="seeQueueModeratorsModal" data-reveal="">
                <h2>Queue moderators of {{queue.name}}</h2>
                  <ul>
                    <p ng-hide="queue.moderators.length">No queue moderators.</p>
                      <li ng-repeat="moderator in queue.moderators">
                        {{moderator.principalName}}
                      </li>
                  </ul>
                  <a class="close-reveal-modal">×</a>
              </div>
            </ul>

          </div>
          <div class="large-9 columns">
            <div ng-show="queue.positions.length" class="row">
              <table class="large-12 columns">
              <div class="row">
                <div class="large-8 columns"></div>
                <label ng-show="queue.positions.length" class="large-4 columns"> 
                  <input ng-model="search" class="search" name="search" type="text" placeholder="Find users"/>  
                </label>
                </div>
                <thead>
                  <tr>
                    <th width="1">#</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Comment</th>
                    <th width="1">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="queuePosition in queue.positions | filter:search | orderBy:'id':false" ng-class="{'active':queue.removeOwnUrl}">
                    <td>{{$index+1}}</td>

                    <td>{{queuePosition.account.name}}</td>

                    <td>{{queuePosition.startTime|queuetime}}</td>

                    <td>{{queuePosition.location || ''}}</td>

                    <td>{{queuePosition.comment || ''}}</td>

                    <td>
                      <form th:if="${account != null ? account.canModerateQueue(queue) : false}" th:action="'{{queuePosition.removeUrl}}'" th:method="POST" style="margin-bottom: 0">
                        <button type="submit" class="button alert tiny" style="margin-bottom: 0">Remove</button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../../js-vendor/jquery.js" th:src="@{/js-vendor/jquery.js}"></script>
    <script src="../../../js-vendor/foundation.js" th:src="@{/js-vendor/foundation.js}"></script>
    <script src="../../../js-vendor/foundation.topbar.js" th:src="@{/js-vendor/foundation.topbar.js}"></script>
    <script src="../../../js-vendor/foundation.dropdown.js" th:src="@{/js-vendor/foundation.dropdown.js}"></script>
    <script src="../../../js-vendor/foundation.dropdown.js" th:src="@{/js-vendor/foundation.reveal.js}"></script>
    <script src="../../../js-vendor/foundation.alert.js" th:src="@{/js-vendor/foundation.alert.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
