<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title>Admin settings &mdash; QWait</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>
  </head>

  <body>
    <div th:replace="fragment/layout :: topbar"></div>
    <h1>Admin settings</h1>
    <div sec:authorize="hasRole('super_admin')">
      <h3>Add/Remove admins</h3>
      <form th:action="@{/superadmin/makeadmin}" th:method="POST">
        <label>
          Add Admin
          <input id="add-admin" name="name" type="text" placeholder="Username to add"/>
          <button type="submit" class="button postfix">Add</button>
        </label>
      </form>
      <form th:action="@{/superadmin/removeadmin}" th:method="POST">
        <label>
          Remove Admin
          <input id="remove-admin" name="name" type="text" placeholder="Username to remove"/>
          <button type="submit" class="button postfix">Remove</button>
        </label>
      </form>
    </div>
  </body>
</html>