/* ==========================================================================
   Navigation bar
   ========================================================================== */

#navbar {
    background: #1954A6;
    text-align: left;
}

a.navitem:visited {color: white;}
a.navitem:link {color: white;}
a.navitem:hover {color: black;}
a.navitem:active {color: black;}

a.navitem {
    text-decoration: none;
}

#navul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 20px;
}