<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title>QWait</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" id="favicon" href="../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>

    <link rel="apple-touch-icon" sizes="144x144" href="../../icons/apple-touch-icon-144x144.png"
          th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../icons/apple-touch-icon-114x114.png"
          th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../icons/apple-touch-icon-72x72.png"
          th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" href="../../icons/apple-touch-icon.png" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" href="../../../../../target/webapp/css/style.css" th:href="@{/css/style.css}"/>

    <script src="../../vendor/js/angular.js" th:srsc="@{/vendor/js/angular.js}"></script>
    <script src="../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
  </head>
  <body>
    <div th:replace="fragment/layout :: topbar"></div>
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to the debug menu!</h1>
        <p>Current user roles:</p>
        <ul>
          <li th:each="auth : ${#authentication.authorities}" th:text="${auth.authority}">User</li>
        </ul>
        <form method="POST" action="home.html" th:action="@{/make-me-not-admin}"><button type="submit">Make me into a user</button></form>
        <form method="POST" action="home.html" th:action="@{/make-me-admin}"><button type="submit">Make me into an admin</button></form>
      </div>
    </div>

    <script src="../../vendor/js/jquery.js" th:src="@{/vendor/js/jquery.js}"></script>
    <script src="../../vendor/js/foundation.js" th:src="@{/vendor/js/foundation.js}"></script>
    <script src="../../vendor/js/foundation.topbar.js" th:src="@{/vendor/js/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
