<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title th:text="#{view.home.title}">QWait</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../css/normalize.css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" href="../../css/foundation.css" th:href="@{/css/foundation.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="../../js/qwait.js" th:src="@{/js/qwait.js}"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1 th:text="#{view.home.helloWorld}">Hello, World!</h1>

        <p>Here is the <a href="queue/list.html" th:href="@{/queue/list}">list of queues</a>.</p>
      </div>
    </div>
  </body>
</html>
