<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="qwait">
  <head>
    <title ng-controller="TitleCtrl">{{page.title}} | {{system.product.name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" id="favicon" href="../../icons/favicon.ico" th:href="@{/icons/favicon.ico}"/>

    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/icons/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/icons/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/icons/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" th:href="@{/icons/apple-touch-icon.png}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/foundation-icons/foundation-icons.css}"/>

    <script th:src="@{/vendor/js/jquery.js}"></script>
    <script th:src="@{/vendor/js/angular.js}"></script>
    <script th:src="@{/vendor/js/sockjs.js}"></script>
    <script th:src="@{/vendor/js/stomp.js}"></script>
    <script th:src="@{/vendor/js/angular-route.js}"></script>
    <script th:src="@{/vendor/js/moment-with-langs.js}"></script>
    <script th:src="@{/js/qwait.js}"></script>
    <script type="text/javascript" th:inline="javascript"
            th:with="anonymous = ${#authentication instanceof T(org.springframework.security.authentication.AnonymousAuthenticationToken)}">
      /* <![CDATA[ */
      angular.module('request', []).factory('requestInfo', [function () {
        return {
          currentUser: {
            name: /*[[${anonymous} ? null : ${#authentication.name}]]*/ null,
            readableName: /*[[${anonymous} ? null : ${#authentication.userDetails.name}]]*/ null,
            admin: /*[[${#authorization.expression("hasRole('admin')")}]]*/ false,
            roles: /*[[${#authentication.authorities.![authority]}]]*/ [],
            anonymous: /*[[${anonymous}]]*/ true
          },
          product: {
            name: /*[[#{product.name}]]*/ 'QWait',
            version: /*[[#{product.version}]]*/ '(snapshot)'
          }
        };
      }]);
      /* ]]> */
    </script>
  </head>
  <body>
    <nav class="top-bar" data-topbar="topbar" ng-controller="TopbarCtrl">
      <!--This logo is absolute, and shown on the main view-->      
      <ul class="title-area top-absolute show-for-large-up">
        <li class="name">
          <a href="#/queues">
            <img class="top-logo logo-large" th:src="@{/images/qwait-topbar-logo.png}"></img>
          </a>
        </li>
      </ul>

      <!-- When the size reaches medium the top bar collapses, and this logo is shown instead-->
      <ul class="title-area hide-for-large-up">
        <li class="name">
          <a href="#/queues">
            <img class="top-logo logo-small" th:src="@{/images/qwait-topbar-logo.png}"></img>
          </a>
        </li>
        <li class="toggle-topbar">
          <a href="#">
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li ng-class="{active: location.path() == '/'}">
            <a href="#/queues">Queues</a>
          </li>
          <li ng-class="{active: location.path() == '/about'}">
            <a href="#/about">About</a>
          </li>
          <li ng-class="{active: location.path() == '/help'}">
            <a href="#/help">Help</a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a>
              <span ng-if="messagebus.ready" class="green size-24" label="Connected">&#9679;</span>
              <span ng-if="!messagebus.ready" class="red size-24" label="Disconnected">&#9679;</span>
            </a>
          </li>
          <li ng-if="!users.current.anonymous"><a href="#">Logged in as
            <strong>{{users.current.readableName}}</strong></a></li>
          <li ng-if="!users.current.anonymous"><a th:href="@{/logout}">Log Out</a></li>
          <li ng-if="users.current.anonymous"><a th:href="@{/login}">Log In</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <section ng-view="ng-view" class="large-12 columns"></section>
    </div>

    <script th:src="@{/vendor/js/foundation.js}"></script>
    <script th:src="@{/vendor/js/foundation.topbar.js}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>