#header{
  text-align: center;
  margin-bottom: 20px;
}

#search{
  float: right;
  width: auto;
  height: 1.8rem;
  background: url('../icons/magnifying-glass.png') no-repeat 97%;
  background-size: 20px 20px;
  
  position: absolute;
  top: -20px;
  right: 0px;
  padding: 0px;
  padding-left: 0.3rem;
  margin-top: 5px;
}

