@import "normalize";
@import "settings";
@import "foundation";
@import "foundation/components/mixins";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";

@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)) {
  background-color: $bg-color;
  @include background-image(linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent));
  background-size: 40px 40px;
}

.search {
  background: url(../icons/magnifying-glass.png) no-repeat;
  background-size: 25px 25px;
  background-position: right 3px center;
}

.red {
  color: #F00;
}

.green {
  color: #0C0;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.strike {
  text-decoration: line-through;
}

.plain-panel {
  @include panel(#FAFAFA);
}

.grey-panel {
  @include panel(#333, 0.85rem);
  color: white;
}

.active-panel {
  @include panel(scale-color($primary-color, $lightness: 80%));
}

tr.active > td {
  background: scale-color($primary-color, $lightness: 80%);
}

button.itsy, .button.itsy {
  @include button-size($padding: $button-tny/2);
}

.queue-row.ng-enter, .queue-row.ng-move {
  @include transition(0.5s);
  @include opacity(0);
}

.queue-row.ng-enter.ng-enter-active,
.queue-row.ng-move.ng-move-active {
  @include opacity(1);
}

.queue-row.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
}

.top-bar {
  overflow: hidden;
}

.top-logo-full {
  background: url(../../images/qwait-topbar-logo.png);
}

.top-logo-partial {
  background: url(../../images/qwait-transparent-partial-small.png);
}

.top-logo-full, .top-logo-partial {
  @include opacity(1);
  @include transition(300ms);

  background-size: 115px 30px;

  position: absolute;
  width: 115px;
  height: 30px;
  margin: 8px 8px;
}

.top-logo-full:hover, .top-logo-partial:hover {
  @include opacity(0.7);
}

.center-logo {
  position: absolute;
  left: calc(50% - 64px);
}

.top-logo-pin {
  background: url(../../images/clock-pin-small.png);
  background-size: 30px 30px;

  width: 30px;
  height: 30px;
}

.moving-pin {
  -webkit-animation: spin 60s steps(60, end) infinite;
  -moz-animation: spin 60s steps(60, end) infinite;
  animation: spin 60s steps(60, end) infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
