@import "normalize";
@import "settings";
@import "foundation";

tr.active {
  background-color: #eee;
}

.search {
  @include form-element;
  background: url('../icons/magnifying-glass.png') no-repeat;
  background-position: right center;
  background-size: 25px 25px;
}

.topbar-absolute {
    position: absolute !important;
    margin-left: -72px !important;
    left: 50%;
    top: 4px;
}

.top-logo {
    width: 144px; height: 38px;
    background: url('../../images/qwait-topbar-logo.png');
    background-size: 144px 38px;
}

.top-logo.small {
    width: 115px; height: 30px;
    background-size: 115px 30px;
    margin: 8px;
}

.top-logo:hover {
    background-color: #444;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    transition: background-color 200ms linear;
}

.no-bot-margin {
  margin-bottom: 0px;
}

.comment-margin {
  margin-top: 32px;
}

.add-queue-margin {
  margin-top: 1.5em;
}

.button-bot-margin {
  margin-bottom: 40px;
}

