@import "normalize";
@import "settings";
@import "foundation";
@import "foundation/components/mixins";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";

@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)) {
  background-color: $bg-color;
  @include background-image(linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent));
  background-size: 40px 40px;
}

.plain-panel {
  @include panel(#FAFAFA);
}

.alert-panel {
  @include panel($alert-color);
  @include striped-bg(scale-color($alert-color, $lightness: 80%));
}

.red {
  color: #F00;
}

.green {
  color: #0C0;
}

.secondary-panel {
  @include panel($secondary-color);
  @include striped-bg(scale-color($secondary-color, $lightness: 80%));
}

.lockdown-panel {
  @include panel(mix($alert-color, $secondary-color, 50%));
  @include striped-bg(scale-color(mix($alert-color, $secondary-color, 50%), $lightness: 80%));
}

button.itsy, .button.itsy {
  @include button-size($padding: $button-tny/2);
}

.queue-row.ng-enter, .queue-row.ng-move {
  @include transition(0.5s);
  @include opacity(0);
}

.queue-row.ng-enter.ng-enter-active,
.queue-row.ng-move.ng-move-active {
  @include opacity(1);
}

.queue-row.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
}

.top-bar {
  overflow: hidden;
}

.top-logo {
  @include opacity(1);
  @include transition(300ms);
  
  background: url(../../images/qwait-topbar-logo.png);
  display: inline-block;
}

.top-logo:hover {
  @include opacity(0.5);
}

.logo-large {
  background-size: 144px 38px;
  width: 144px;
  height: 38px;
  margin: 4px 0px;
  
}

.logo-small {
  background-size: 115px 30px;
  width: 115px;
  height: 30px;
  margin: 8px;
}

button {
  @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
  @include box-shadow(rgba(0, 0, 0, 0.12) 1px 1px 0px);
  @include border-radius(1.2px 1.2px);
}


@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

