body {
  background-color:#008CBA;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: Alegreya Sans SC;
  font-size: 200%;
  color: white;

  width: 100%;
  margin-top: 0px;
  padding: 0px;
}

p {
  font-family: Open Sans;
  font-size: 16px;
  color: white;

  width: 637px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.guest-button {
  font-size: 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

  background-color: #F0F0F0;
  color: rgb(25, 84, 166);
  margin-top: 15px;

  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.guest-button:hover {
  background-color: #CCC;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  transition: background-color 200ms linear;
}

.kth-button {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 120%;

  background-color: rgb(25, 84, 166);
  color: white;

  width: 18em;
  margin-top: 1.5em;
  padding: 0.8em;

  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.kth-button:hover {
  background-color: rgb(46, 124, 192);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  transition: background-color 200ms linear;
}

.center {
  text-align: center;
}

#kthicon {
  vertical-align:-60%;
  width: 50px;
  height: 50px;
  padding-right: 8px;
}

#qwait {
  margin: 60px auto 20px auto;
  width: 637px;
  height: 160px;
  background: url('../../images/qwait-transparent-partial.png');
  background-size: 637px 160px;
}

#movingpin {
  -webkit-animation:spin 60s steps(60, end) infinite;
  -moz-animation:spin 60s steps(60, end) infinite;
  animation:spin 60s steps(60, end) infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
