<div>
  <h1>Administration</h1>

  <p>
    Please be careful on this page; here, you have the power to change anything.
  </p>

  <h2>Administrators</h2>

  <div class="row collapse">
    <div class="small-9 columns">
      <input type="text" ng-model="adminName" required="required"
             placeholder="New administrator"/>
    </div>
    <div class="small-3 columns">
      <button type="submit" ng-disabled="form.$invalid" class="button button-success postfix radius"
              style="margin-bottom: 0;" ng-click="users.setAdmin(adminName, true)">
        <i class="fi-plus white-icon size-16"></i>
        Add
      </button>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-6 columns">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Readable name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="admin in users.admins">
            <td>{{admin.name}}</td>
            <td>{{admin.readableName}}</td>
            <td>
              <button ng-click="users.setAdmin(admin.name, false)" type="button" class="tiny alert"
                      style="margin-bottom: 0;">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="small-6 columns">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Readable name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users.admins | orderBy:['readableName', 'name'] | filter:adminName">
            <td>{{user.name}}</td>
            <td>{{user.readableName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
