<h1>Help and FAQueue</h1>

<!-- Not logged in user -->
<div class="panel" ng-if="users.current.anonymous">
  <h2>Not logged in user</h2>
  <p>You are not logged in. If you only want to view a queue, that's cool, but to
  be able to join a queue, you will need to <a href="#/login">log in</a>.</p>

  <h4>Viewing a queue</h4>
  <p>
    If you don't want to log in, and have a queue viewing fetish, you can open up any queue and see the virtual
    line of people. This is done by clicking the name of the queue you want to stalk in the
    <a href="#/queues">Queues</a> page.
  </p>
</div>

<!-- Logged in user without any moderator/admin/queue owner privileges -->
<div class="panel" ng-if="!users.current.anonymous">
  <h2>Help for regular users</h2>

  <h3>Queue status</h3>
  <p>
    The queues in QWait can have different status, which can be good to know. The status is indicated by the
    color and style of the queue name.
  </p>
  <table>
    <tr>
      <td><strong>Active queue</strong></td>
      <td>The queue is active and can be joined</td>
    </tr>
    <tr>
      <td><strong class="red">Locked queue <i class="fi-lock size-16"></i></strong></td>
      <td>The queue is locked and can't be joined</td>
    </tr>
    <tr>
      <td><strong class="red strike">Hibernated queue <i class="fi-prohibited size-16"></i></strong></td>
      <td>This queue is locked and hidden from the queue list, and can't be joined</td>
    </tr>
  </table>

  <h3>Find a queue</h3>
  <p>
    The first step to queueing would be to find the queue you wish to join, right? So how is that done?
    Well, first go to the <a href="#/queues">Queues page</a>. There you can either scroll to find the queue
    you are searching for, or you could search for the queue. To scroll, just scroll - more info on scrolling
    will not be covered in this help section. To search for a queue, type the queue name (or parts of the queue name)
    in the box that looks like this:
    <img src="images/help/find-queues-box.png" alt="Find Queues box">
  </p>

  <h3>Join a queue</h3>
  <p>
    To join a queue, you will first need to find the queue (see <em>Finding a queue</em>). When you have found
    the queue, let's say you want to join the queue <em>Allm&aumlnhandledning</em>, click the queue name.
  </p>
  <img src="images/help/allmanhand.png" alt="Allm&aumlnhandledning">
  <p>
    You now reach the queue page, where all the queueing takes place. If you are at a KTH computer, your
    location will be automatically obtained.
  </p>
  <img src="images/help/location.png" alt="Your location">
  <p>
    If your location is not automatically obtained, please type your location in the location field.
  </p>
  <p>Now click <img src="images/help/join-queue-button.png" alt="Join queue button"> and you are done!</p>

  <h3>Leave a queue</h3>
  <p>
    To leave a queue, you must first join the queue. If you haven't joined the queue you want to leave, we recommend
    not joining that queue. If you however have joined the queue you want to leave, enter that queue page and
    click <img src="images/help/leave-queue-button.png" alt="Leave queue button">
  </p>

</div>

<!-- Admin -->
<div class="panel" ng-if="users.current.admin">
  <h2>Admin functions</h2>
  <h4>Adding another administrator</h4>
  <p>TODO</p>
</div>

<!-- Queue owner or admin -->
<div class="panel" ng-if="users.current.ownedQueues.length || users.current.admin">
  <h2>Queue owner functions</h2>
  <h4>Adding another administrator</h4>
  <p>TODO</p>
</div>

<!-- Moderator or admin -->
<div class="panel" ng-if="users.current.moderatedQueues.length || users.current.admin">
  <h2>Moderator functions</h2>
  <h4>Adding another administrator</h4>
  <p>TODO</p>
</div>