<h1>Help and FAQueue</h1>

<!-- Not logged in user -->
<div class="panel" ng-if="users.current.anonymous">
  <h2>Guests</h2>
  <p>
    You are not logged in. If you only want to view a queue, that's cool,
    but to be able to join a queue, you will need to
    <a href="/login?target={{location.absUrl()}}" target="_self">log in</a>.
  </p>

  <h4>Viewing a queue</h4>
  <p>
    If you don't want to log in, you can open up any queue and see the virtual line of eagerly
    waiting people. This is done by clicking the name of the queue you want to look at in the
    <a href="/queues">Queues</a> page.
  </p>
  <p>
    For example, if you want to look at the queue for <em>Allm&auml;nhandledning</em>,
    you click like this:
  </p>
  <img src="/images/help/allmanhand.png" alt="Allm&auml;nhandledning">
</div>

<!-- Admin -->
<div class="panel" ng-if="users.current.admin">
  <h2 id="admins">Admins</h2>

  <p>
    Admins are the supreme rulers of QWait, with privileges to perform anything.
    Their primary purpose is adding new queues, and adding queue owners for those queues.
  </p>

  <h3>Add an admin</h3>
  <p>
    To add an admin, go to the <a href="/admin">Admin</a> page. Then enter the name of the
    user you wish to add as admin in the field under <em>Admins</em> and click <em>Add</em>.
    The user should now show up in the admin list. If not, please refresh the page.
    New admins will get their privileges after they have logged out and in again.
   </p>

  <p><em>Note: In order to add an user, they must first log in to QWait at least once.</em></p>

  <h3>Remove an admin</h3>
  <p>
    To remove an admin, go to the <a href="/admin">Admin</a> page. Then, under <em>Admins</em>,
    click the remove button beside the name of the admin you wish to remove. The user should now
    disappear from the admin list. If not, please refresh the page. The admin rights will be
    removed from the user as soon as the user has logged out from the application.
  </p>
  <p>
    <em>
      Note: There must always be at least one admin. It is therefore not possible to remove an
      admin if it's the last one.
    </em>
  </p>

  <h3>Add a queue owner</h3>
  <p>See <a href="/help#add-a-queue-owner">Adding a queue owner</a> under <em>Queue owners</em>.</p>
</div>
<!-- Queue owner or admin -->
<div class="panel" ng-if="users.current.ownedQueues.length || users.current.admin">
  <h2 id="queue-owners">Queue owners</h2>

  <p>
    Queue owners are in charge of specific queues. In addition to the privileges of a moderator,
    they can also add and remove moderators for their queues and hibernate them.
  </p>

  <h3 id="add-a-queue-owner">Add a queue owner or moderator</h3>
  <p>
    To add a queue owner or moderator for a queue, first go to the <a href="/admin">Admin</a> page.
    Then choose the queue you wish to add a queue owner or moderator for in the dropdown as below:
  </p>
  <img src="/images/help/select-queue-dropdown.png" alt="Select queue dropdown">
  <p>
    After you have selected a queue, you enter the name of the user you wish to add either in the
    <em>Owners</em> or the <em>Moderators</em> input fields, and then press the <em>Add</em> button.
    When that is done, the user has been added as either a queue owner or moderator. If the list
    doesn't update automatically, please refresh the page and confirm that the user has been added.
  </p>

  <p><em>Note: In order to add an user, they must first log in to QWait at least once.</em></p>

  <h3 id="remove-a-queue-owner">Remove a queue owner or moderator</h3>
  <p>
    To remove a queue owner or moderator from a queue, first go to the <a href="/admin">Admin</a> page.
    Then choose the queue you wish to remove a queue owner or moderator from in the dropdown as when
    <a href="/help#add-a-queue-owner">adding a queue owner</a>. Click the red cross beside the user you
    want to remove, as in the picture below, and then confirm the removal in the popup that appears.
  </p>
  <img src="/images/help/remove-queue-owner.png" alt="Remove queue owner">
  <p>
    The privileges of the user have now been removed. If the list doesn't update automatically, please
    refresh the page and confirm that the user has been removed.
  </p>

  <h3>Hibernate a queue</h3>
  <p>
    Hibernating a queue means both clearing, locking and hiding the queue.
    This can be used for example when there will be no labs in a queue for a longer time.
  </p>
  <p>
    To hibernate a queue, first go to the main page of that queue via the <a href="/queues">Queues</a> page.
    Then go into the <em>Manage queue</em> dropdown, and select <em>Hibernate</em>.
    Confirm in the popup that appears.
  </p>
  <p>When you want to open the queue again, go into the same menu and select <em>Unhibernate</em>.</p>
</div>

<!-- Moderator or admin -->
<div class="panel" ng-if="users.current.moderatedQueues.length || users.current.admin">
  <h2 id="queue-moderators">Queue moderators</h2>

  <p>
    Queue moderators help with moderating specific queues. In addition to removing specific users,
    they are also able to lock and clear queues.
  </p>

  <h3>Remove a queue position</h3>
  <p>
    To remove a queue position, click the red cross beside the name of the position you wish to remove.
  </p>
  <img src="/images/help/remove-queue-position.png" alt="Removing a queue position">
  <p>Then confirm to remove the user from the queue.</p>
  <p><em>Note: Be careful with removing users from the queue, those actions can not be reverted.</em></p>

  <h3>Lock a queue</h3>
  <p>
    When a queue is locked, users can see the queue but not join it. When locking a queue, users already
    in the queue will <em>not</em> be removed.
  </p>
  <p>
    To lock a queue, first go to the main page of the queue via the <a href="/queues">Queues</a> page. Then
    go into the <em>Manage queue</em> dropdown, and select <em>Lock</em>. Confirm in the popup that appears.
  </p>
  <p>To unlock a queue, do the same as above, but instead of choosing <em>Lock</em>, you choose <em>Unlock</em>.</p>

  <h3>Clear a queue</h3>
  <p>
    When a queue is cleared, all people in the queue will be removed. This can't be reverted.
  </p>
  <p>
    To clear a queue, first go to that queue's main page via the <a href="/queues">Queues</a> page. Then
    go into the <em>Manage queue</em> dropdown, and select <em>Clear</em>. Confirm in the popup that appears.
  </p>
</div>

<!-- Logged in regular user without any moderator/admin/queue owner privileges -->
<div class="panel" ng-if="!users.current.anonymous">
  <h2>Users</h2>

  <h3>Queue status</h3>
  <p>
    The queues in QWait can have different statuses, which can be good to know.
    The statuses are indicated by the color and style of the queue name.
  </p>
  <table>
    <tr>
      <th align="left">Style</th>
      <th align="left">Icon</th>
      <th align="left">Description</th>
    </tr>
    <tr>
      <td><strong>Active queue</strong></td>
      <td></td>
      <td>The queue is active and can be joined</td>
    </tr>
    <tr>
      <td><strong class="red">Locked queue</strong></td>
      <td><i class="fi-lock size-16 red"></i></td>
      <td>The queue is locked and can't be joined</td>
    </tr>
    <tr>
      <td><strong class="red strike">Hibernated queue</strong></td>
      <td><i class="fi-prohibited size-16 red"></i></td>
      <td>This queue is hidden from the queue list, locked, and can't be joined</td>
    </tr>
  </table>

  <h3 id="find-a-queue">Find a queue</h3>
  <p>
    The first step to queueing would be to find the queue you wish to join, right? So how is that done?
    Well, first go to the <a href="/queues">Queues page</a>. There you can either scroll to find the queue
    you are searching for, or you could search for the queue. To scroll, just scroll - more info on
    scrolling will not be covered in this help section.

    To search for a queue, type the queue name (or parts of the queue name) in the box that looks like this:
    <img src="/images/help/find-queues-box.png" alt="Find Queues box">
  </p>

  <h3>Join a queue</h3>
  <p>
    To join a queue, you will first need to find the queue (see <a href="/help#find-a-queue">Find a queue</a>).
    When you have found the queue, let's say you want to join the queue <em>Allm&auml;nhandledning</em>,
    click the queue name.
  </p>
  <img src="/images/help/allmanhand.png" alt="Allm&auml;nhandledning">
  <p>
    You now reach the queue page, where all the queueing takes place. If you are at a KTH computer, your
    location will be automatically obtained.
  </p>
  <img src="/images/help/location.png" alt="Your location">
  <p>
    If your location is not automatically obtained, please type your location in the location field.
  </p>
  <p>Now click the <em>Join queue</em> button, and you are done!</p>
  <p><em>Note: In the queue list page, the queues you are currently queueing in become blue.</em></p>

  <h3>Leave a queue</h3>
  <p>
    To leave a queue, you must first join a queue. If you haven't joined the queue you want to leave,
    we recommend you to not join that queue. If you have already joined the queue you want to leave,
    go to the main page of the queue and click the <em>Leave queue</em> button.
  </p>
</div>
