<section>
  <h1>{{system.product.name}}
    <small>v{{system.product.version}}</small>
  </h1>

  <p>
    {{system.product.name}} message bus
    <span ng-if="messagebus.ready" class="success label">Connected</span>
    <span ng-if="!messagebus.ready" class="alert label">Disconnected</span>
    <span ng-if="messagebus.protocol">via {{messagebus.describeProtocol(messagebus.protocol)}}</span>
    <span ng-if="messagebus.reconnectInMillis">(will reconnect in {{messagebus.reconnectInMillis|duration}})</span>
  </p>
</section>