<section>
  <h1>{{system.product.name}}
    <small>v{{system.product.version}}</small>
  </h1>

  <h2>Contributors</h2>

  <div class="row">
    <div class="large-4 columns" ng-repeat="contributor in contributors.all">
      <div class="row" style="padding-bottom: 2em;">
        <div class="large-4 columns">
          <img class="th"
               ng-src="//gravatar.com/avatar/{{contributor.gravatar || '00000000000000000000000000000000'}}.png?d=mm"
               alt="{{contributor.name}}"/>
        </div>
        <div class="large-8 columns">
          <h4>{{contributor.name}}</h4>
          <a ng-if="contributor.twitter" href="//twitter.com/{{contributor.twitter}}">@{{contributor.twitter}}</a>
        </div>
      </div>
    </div>
  </div>
</section>