<div>
  <h2>{{queue.title}}</h2>
  <p ng-hide="queue.positions">This queue is empty</p>

  <div ng-show="queue.positions" class="row collapse">
    <div class="large-4 large-offset-8 columns">
      <input type="text" ng-model="search" placeholder="Find users"/>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <div ng-show="users.current.anonymous">
        <a href="/login" class="button expand">
          Log in
        </a>
      </div>
      <div ng-show="!users.current.anonymous">
        <div class="row collapse">
          <button ng-show="!userQueuePos(users.current, queue.positions)" class="button expand button-bot-margin" ng-click="queues.joinQueue(queue.name, users.current.name)">
            Join queue
          </button>
          <button ng-show="userQueuePos(users.current, queue.positions)" class="button expand button-bot-margin" ng-click="queues.leaveQueue(queue.name, users.current.name)">
            Leave queue
          </button>
        </div>
        <div ng-show="users.current.admin" class="row collapse">
          <div class="small-12 columns">
            <a ng-click="Foundation.libs.dropdown.toggle" class="button secondary expand dropdown" data-dropdown="manage-queue">
              Manage queue
            </a>
            <div id="manage-queue" data-dropdown-content="" class="medium f-dropdown content">
              <ul ng-click="queues.setLocked(queue.name, !queue.locked)" class="button-group radius" style="margin-top: 0.5rem">
                <li>
                  <button type="button" class="button secondary small" style="margin-bottom: 0;">
                    <span class="size-14" ng-show="queue.locked">Unlock</span>
                    <span class="size-14" ng-show="!queue.locked">Lock&nbsp;</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="button small" ng-class="{alert: !queue.locked, success: queue.locked}"
                          style="margin-bottom: 0;">
                    <i class="fi-unlock size-14" ng-show="queue.locked"></i>
                    <i class="fi-lock size-14" ng-show="!queue.locked"></i>
                  </button>
                </li>
              </ul>

              <ul ng-click="queues.setActive(queue.name, !queue.active)" class="button-group radius" style="margin-top: 0.5rem">
                <li>
                  <button type="button" class="button secondary small" style="margin-bottom: 0;">
                    <span class="size-14" ng-show="queue.active">Hide&nbsp;</span>
                    <span class="size-14" ng-show="!queue.active">Unhide</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="button small" ng-class="{alert: queue.active, success: !queue.active}"
                          style="margin-bottom: 0;">
                    <i class="fi-eye size-14"></i>
                  </button>
                </li>
              </ul>
              <ul ng-click="queues.clearQueue(queue.name)" class="button-group radius" style="margin-top: 0.5rem">
                <li>
                  <button type="button" class="button secondary small" style="margin-bottom: 0;">
                    <span class="size-14">Clear</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="button small alert" style="margin-bottom: 0;">
                    <i class="fi-x size-14"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="large-9 columns" ng-show="queue.positions">
      <div class="row collapse">
        <table class="small-12 columns">
          <thead>
            <tr>
              <th width="1">#</th>
              <th>User</th>
              <th>Time</th>
              <th>Location</th>
              <th>Comment</th>
              <th ng-show="users.current.admin" width="1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="position in queue.positions | orderBy:'startTime' | filter:search">
              <td width="1">{{$index + 1}}</td>
              <td>{{getUser(position.userName).readableName}}</td>
              <td>{{timeDiff(position.startTime)}}</td>
              <td ng-hide="editingLocation">
                {{position.location}}
                <button type="button" class="button itsy" style="margin-bottom: 0;" ng-click="editingLocation = true">
                  <i class="fi-pencil"></i>
                </button>
              </td>
              <td ng-show="editingLocation">
                <form
                    ng-submit="queues.changeLocation(queue.name, users.current.name, position.location); editingLocation = false">
                  <input type="text" maxlength="15" style="margin-bottom: 0;"
                         ng-model="position.location"
                         ng-change=""/>
                  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
              </td>
              <td ng-hide="editingComment">
                {{position.comment}}
                <button type="button" class="button itsy" style="margin-bottom: 0;" ng-click="editingComment = true">
                  <i class="fi-pencil"></i>
                </button>
              </td>
              <td ng-show="editingComment">
                <form
                    ng-submit="queues.changeComment(queue.name, users.current.name, position.comment); editingComment = false">
                  <input type="text" maxlength="15" style="margin-bottom: 0;"
                         ng-model="position.comment"
                         ng-change="queues.changeComment(queue.name, users.current.name, position.comment)"/>
                  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
              </td>
              <td ng-show="users.current.admin" width="1">
                <a ng-click="Foundation.libs.dropdown.toggle" data-dropdown="remove-user" class="size-18">&#9662;</a>
                <ul id="remove-user" class="button-group radius f-dropdown content tiny" data-dropdown-content="" 
                      style="margin-top: 0.5rem">
                <li>
                  <button type="button" class="button secondary tiny" style="margin-bottom: 0;">
                    <span class="size-14">Remove</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="button tiny alert" ng-click="" style="margin-bottom: 0;">
                    <i class="fi-x size-14"></i>
                  </button>
                </li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="../vendor/js/foundation.dropdown.js"></script>
<script>$(document).foundation();</script>
