<div>
  <h1>Queues</h1>
  <div class="row collapse">
    <div class="medium-3 columns">
      <div ng-if="users.current.admin">
        <form ng-submit="queues.validateForm(queueName, queues); queueName = ''">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" ng-model="queueName" minlength="1" maxlength="30" required="required"
                     placeholder="New queue name"/>
            </div>
            <div class="small-3 columns">
              <button type="submit" ng-disabled="queues.contains(queueName, queues)" class="button button-success postfix radius"
                      style="margin-bottom: 0;">
                <i class="fi-plus size-16"></i>
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="medium-3 columns pull-right">
      <input type="text" class="search" ng-model="search.title" placeholder="Find queues"/>
    </div>
  </div>
  <div class="radius queue-row"
       ng-repeat="queue in queues.all|arrayify|queuesSeenBy:users.current|filter:search|orderBy:['locked','-positions.length','title']"
       ng-class="{'plain-panel': !userQueuePos(users.current, queue.positions), 'active-panel': userQueuePos(users.current, queue.positions)}">
    <div class="row">
      <div class="small-8 columns">
        <h3><a href="/queue/{{queue.name}}">
          <span ng-class="{'strike': queue.hidden, 'red': queue.locked}" style="word-wrap: break-word">
            {{queue.title}}
          </span>
        </a></h3>
      </div>
      <div class="small-4 columns">
        <div class="right">
          <span class="size-36" style="vertical-align: middle">
            <i class="fi-prohibited red" ng-show="queue.hidden" title="This queue is in hibernation."></i>
            <i class="fi-lock red" ng-show="queue.locked && !queue.hidden" title="This queue is locked."></i>
          </span>
          <span ng-if="userQueuePos(users.current, queue.positions)">
            <i class="fi-torso size-36" style="vertical-align: middle"></i>
            <span class="size-24" style="vertical-align: middle">
              {{queuePos(users.current.name, queue.positions)}}/{{queue.positions.length}}
            </span>
          </span>
          <span ng-if="!userQueuePos(users.current, queue.positions)">
            <i class="fi-torsos size-36" style="vertical-align: middle"></i>
            <span class="size-24" style="vertical-align: middle">{{queue.positions.length}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
